.arrow-button {
    display: none;
  }
  
  .carousel:hover .arrow-button {
    display: block;
    /* font-size: 15px; */
    border-radius: 50%;
    padding: 2%;
    border-color: transparent;
  }
  
  .arrow-button:hover {
    /* box-shadow: 0.05rem 0.02rem; */
    transform: scale(1.1);
  }
  